.done-todo {
  text-decoration : line-through;
}

.animation-flip-out {
    animation: flipOutY 2s,
                      fadeOut 1s
}

.animation-flip-in {
    animation:fadeIn 1s,
                    flipInY 2s
}

.card {
	.content{
		position:relative;
		z-index:1;
	}
	.unhide{
		position:relative;
		z-index:10000;
	}
}

.normal-todo {
  text-decoration : none;
}
.create-modal {
 .preview {
    margin-left : 50px;
 }

 .content {
    position : relative;
 }

 .ui {
   .vertical.divider {
	 & {
	    margin-left : 23px;
	 }

	.label
	 {
	    margin-top : -13px;
	 }

	}

  }

}

