<!DOCTYPE html>
<html >
	<head>
		<title>Using Angular with Gulp and JSPM</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="A simple TODO app that uses Angularjs with Semantic UI and Gulp">
		<link rel="stylesheet" href="jspm_packages\github\Semantic-Org\Semantic-UI@1.12.0/semantic.css">
		<style type="text/css">
		.done-todo
		{
			text-decoration:line-through;
		}
		.normal-todo
		{
			text-decoration:none;
		}

		.create-modal .preview{
			margin-left:50px;
		}

		.create-modal .content{
			position:relative;
		}

		.create-modal .ui.vertical.divider{
			margin-left:23px;
		}

		.create-modal .ui.vertical.divider .label {
			margin-top:-13px;
		}
		</style>
		<script src="jspm_packages/system.js"></script>
  		<script src="config.js"></script>
  		<script type="text/javascript">
  			System.import("./app/app");
  		</script>
	</head>
	<body ng-app="app">
		<header class="ui large header centered">Todo App</header>
		<div class="ui segment" ng-controller="CreateCtrl">
			<button class="ui button" ng-click="show_modal()">Create Todo</button>
			<div class="ui modal create-modal">
				<i class="ui icon close" ng-click="cancel()"></i>
				<div class="header">Create Todo</div>
				<div class="content">
					<div class="description">
						<form class="ui small form">
							<div class="field">
								<label>Task</label>
								<input type="text" name="task" placeholder="What do you want to do?"ng-model="todo.task">
							</div>
							<div class="field">
								<label>Description</label>
								<textarea ng-model="todo.description"></textarea>
							</div>
						</form>		
					</div>
					<div class="ui vertical divider">
						<span class="ui teal circular label">Is</span>
					</div>
					<div class="preview">
						<todo-item value="todo"></todo-item>
					</div>
				</div>
				<div class="actions">
					<button type="button" class="ui button green save-button" ng-click="saveTodo()">Save</button>
					<button type="button" class="ui button red delete-button" ng-click="cancel()">Cancel</button>
				</div>
			</div>
		</div>
		<todo-list></todo-list>	
  		<script type='text/javascript' id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.6.4.js'><\/script>".replace("HOST", location.hostname));
//]]></script>
	</body>
</html>