<div ng-class="{description:show_modal,content:!show_modal}">
	<i class="right floated blue unhide icon" ng-click="display()"></i>
	<form class="ui small form">
		<div class="field">
			<label>Task</label>
			<input type="text" name="task" placeholder="What do you want to do?"ng-model="todo.task">
		</div>
		<div class="field">
			<label>Description</label>
			<textarea ng-model="todo.description"></textarea>
		</div>
		<div class="two fields">
			<button class="ui red button floated right">Discard</button>
			<button class="ui submit green button floated right" ng-click="save()">Save</button>
		</div>	
	</form>
</div>
